<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>

        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
        <add key="dumpTimeout" value="5000"/>
        <add key="workerAmount" value="3"/>
        <add key="highPriority" value="5"/>
        <add key="mediumPriority" value="3"/>
        <add key="lowPriority" value="1"/>
    </appSettings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="maxBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="maxBehavior" name="WcfService.MessageService">
                <endpoint address="MessageService" binding="netTcpBinding" bindingConfiguration="" contract="WcfService.IMessageService"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080"/>
                        <add baseAddress="net.tcp://localhost:8090"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
